<div class="card--event background--edison">
  <header class="card--event__header">
    {{> @icon--calendar}}
    <div class="card--event__main-info">
      <span class="text-microtext__bold">{{Date}}</span>
      <span class="text-microtext">{{Location}}</span>
    </div>
  </header>
  <div class="card--event__text-block">
    <span class="text-microtext__bold">{{Preline}}</span>
    <a href="{{to}}">
      <H3 class="text--primary">{{Headline}}</H3>
    </a>
    <p class="text-microtext">{{Copy}}</p>
    <span class="text-microtext text--wolf">{{Tags}}</span>
  </div>
</div>