<div class="card--event card--event--highlight background--edison">
  <header class="card--event__header">
    {{> @icon--calendar-white}}
    <div class="card--event__main-info">
      <span class="text--microtext">{{Date}}</span>
      <span class="text--microtext text--regular">{{Location}}</span>
    </div>
  </header>
  <div class="card--event__text-block">
    <span class="text--microtext">{{Preline}}</span>
    <a href="{{to}}">
      <H3 class="text--primary">{{Headline}}</H3>
    </a>
    <p class="text--microtext text--regular">{{Copy}}</p>
    <span class="text--microtext text--regular text--wolf">{{Tags}}</span>
  </div>
</div>