<div class="card--event">
  <div class="card--event__main-info">
    <span class="text--preline__small">{{Date}}</span>
    <span class="text--preline__small">{{Location}}</span>
  </div>
  {{> @icon--calendar}}
  <div class="card--event__text-block">
    <span class="text--microtext">{{Preline}}</span>
    <H3 class="text--primary">{{Headline}}</H3>
    <p class="text--microtext">{{Copy}}</p>
    <span>{{Tags}}</span>
  </div>
</div>