<div>
  {{#if image}}
      <img src="{{image}}" class="card-default__image" />
  {{/if}}
  {{#if highlight}}
    <div class= "card-default--highlight">
  {{else}}
    {{#if image}}
      <div class="card__text card-default--with-img">
    {{else}}
      <div class="card__text">
    {{/if}}
  {{/if}}
    <span class="text-microtext__bold">{{preline}}</span>
    <H3>{{headline}}</H3>
    <p class="text-body-small">{{copy}}</p>
  </div>
</div>